<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>添加song</h1>
<form th:action="@{/song/add}" method="post">
  <input name="song" placeholder="song"/>
  <input name="singer" placeholder="singer"/>
  <input name="token" th:value="${token}"/>
  <input type="submit" value="Submit"/>
</form>
<input name="key1" value="10">
<input name="key2" value="20">
<input type="button" value="do post" th:onclick="'javascript:doPost(1)'"/>
<!--<input type="button" value="do post" th:onclick="'javascript:doPost('+${corp.id}+',2)'"/>-->
</body>

<script th:src="@{~/jquery.min.js}"></script>
<script th:inline="javascript">
  function doPost(id) {
    var val1 = document.getElementsByName("key1")[0].value;
    var val2 = document.getElementsByName("key2")[0].value;
    $.post('/song/do_post', {"key1":val1,"key2":val2},function (data) {
      alert(data);
    });
  }
</script>
</html>